.bodyBackGround {
    background-image: url("/static/images/RegisterBackground.4aa285fe7527.jpg");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    height: 100%;
    overflow: scroll;
}

.mandatory:before {
    content: "*";
    color: red;
}
