<!DOCTYPE html>
{% load crispy_forms_tags %}
<html lang="en">
<head>
    <title>Admin Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
     {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'userRegister.css' %}">
    <style>
        .navbar {
            margin-bottom: 0;
            border-radius: 0;
            font-color: #000000;
            background-color: #483D8B;
            border-color: #483D8B;
        }

		footer {
            background-color: #483D8B;
            color: white;
            padding: 15px;
			
        }
		
        
    </style>
</head>
<body >
    <nav class="navbar navbar-inverse">
        
        <div class="container-fluid">
            <div class="collapse navbar-collapse"  id="myNavbar">
                <ul class="nav navbar-nav" >
                    <li><a href="{% url 'home' %}" style="color:white">Admin Home</a></li>
                    <li><a href="{% url 'list' %}" style="color:white">View Universities</a></li>
                    <li><a href="{% url 'summary' %}" style="color:white">Add Summary</a></li>
                </ul>
				<ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'userLogOut' %}" style="color:white"><span class="glyphicon glyphicon-log-in" style="color:white"></span> Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
<!-- form Add university Start -->
<div class="container"v style="margin-top:25px " >
  <div class="row"> 
   <div class="col-sm-4"></div>  
     <div class="col-sm-3">                 
             <h2 style=""> Add new Unviersity Information</h2>
      <form method="POST" action=" ">
          {% csrf_token %}
         <div class="form-group ">
             
         <label >Enter University Code</label>
         <!--<<input type="text" class="form-control" id="university Name"  placeholder="Enter University Name">-->
          {{ form.university_code }}
         </div>
         <div class="form-group">
         <label for="comment">Enter University Name</label>
         <!--<textarea class="form-control" placeholder="Enter Some Description !" rows="5" id="comment"></textarea>-->
         {{ form.university_name }}
         </div>
         <button type="submit" class="btn btn-primary">Submit</button>

      </form>
      </div>
     <div class="col-sm-3"></div>
  </div> 
</div>
<!-- form Add university End -->
	 <footer class="container-fluid text-center footer navbar-fixed-bottom">
        <p>
            Developed by : Abhishekkumar Israni, Chermaraj Murugesan<br />
            Computer Science Graduate Students<br />
            University of Regina
        <p>
    </footer>
</body>
</html>
