{% extends "PredictiveAcceptance/base.html" %}
{% load staticfiles %}   
{% block content %}
<div class="container-fluid profileBackGround">

    
 <h1 class="AccpHeader">Contact us </h1>
 <div class="contact">  <h3 class="ContactHeader">
<p>
Abhishekkumar Israni  <br/>
Graduate Student <br/>
Computer Science Department <br/>
Unviersity of Regina<br/>
(aiv700@uregina.ca)</p>
<p>
Chermaraj Murugresan <br/>
Graduate Student <br/>
Computer Science Department <br/>
Unviersity of Regina<br/>(cmq277@uregina.ca)<br/>
</p></h3> 
</div>
</div>
{% endblock %}

